# Rendered HTML
/html/

# Virtual environment in Makefile
.venv/
Makefile.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/

# Webring
/content/webring.json
/cache/
