{% extends 'base.html' %}
{% import 'micros.j2' as micros with context %}

{% block title %}
Microblog
{% endblock %}

{% block subtitle %}
<a href="{{ SITEURL }}/">{{ SITENAME }}</a>
| Chatting into the void
{% endblock %}

{% block content %}
<div class="content">
  {% for uid in micros_page.object_list %}
  {{ micros.render(microblog.read(uid)) }}
  {% endfor %}

  {% set articles_paginator = micros_paginator %}
  {% set articles_page = micros_page %}
  {% set articles_previous_page = micros_previous_page %}
  {% set articles_next_page = micros_next_page %}
  {% include "partial/pagination.html" %}
</div>
{% endblock %}
