{% macro render(entry) %}
  <article class="micro">
    <a class="permalink" href="{{ SITEURL }}/micro/{{ entry.uid }}/">
      <span class="author">{{ entry.author }}</span> @
      <time datetime="{{ entry.isotime() }}">
        {{ entry.timestamp.strftime(DEFAULT_DATE_FORMAT) }}
      </time>
    </a>
    <section class="content">
      {{ entry.html }}
    </section>
    {% for _ in microblog.attached_names(entry) %}
    {% if loop.index == 1 %}<section class="images">{% endif %}
    {% set url=attachment_url(entry.uid, loop.index) %}
    <input id="{{ url }}" class="checkbox-hack" type="checkbox">
    <label for="{{ url }}" class="lightbox">
      <img class="attached" src="{{ SITEURL }}/{{ url }}">
    </label>
    {% if loop.revindex == 1 %}</section>{% endif %}
    {% endfor %}
  </article>
{% endmacro %}
