{% extends '!theme/page.html' %}

{% block subtitle %}
<a href="{{ SITEURL }}/">{{ SITENAME }}</a> |
{{ page.subtitle }} |
<a href="{{ SITEURL }}/blogroll.yml">Source</a>
{% endblock %}

{% block content %}
{% set data = json("content/webring.json") %}
<article class="full">
  {% set section = namespace(name=null) %}
  {% for item in data %}
  {% if section.name != item.blog.section %}
    {% set section.name = item.blog.section %}
    {% if loop.index > 1 %}</ul>{% endif %}
    <h2>{{ section.name }}</h2>
    <ul>
  {% endif %}
  <li>
    <p><strong>
    <a href="{{ item.entry.link }}">{{ item.entry.title }}</a>
    ::&nbsp;{{ item.blog.title }}
    </strong></p>
    {% set content = (item.entry.content|d([{}])|first).value|d(item.entry.summary|d(False)) %}
    {% if content %}
    <p>{{ content|striptags|striptags|striptags|truncate(200) }}</p>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
</article>
{% endblock content %}
