/* Smaller paragraph margins on bookmarks page */
.pelican-bookmarks article.full li p,
.pelican-bookmarks article.full li li {
  margin: 0;
}
.pelican-bookmarks article.full li > p + p {
  margin-top: 0.2em;
}
.pelican-bookmarks article.full li {
  margin: 1em 0;
}


/* Feed links in blogroll */
.pelican-blogroll a.feed {
  display: none;
}
.pelican-blogroll li:hover a.feed {
  display: inline;
}


/* Custom templates with Markdown + JSON/YAML data source */
article.full + article.full {
  padding-top: 0;
}
